* {
    box-sizing:border-box;
  }
  
  /* Animation */
  @keyframes pulsate {
    0% {
      transform: scale(1);
      opacity:0.8;
    }
    45% {
      transform: scale(1.75);
      opacity:0;
    }
  }
  @keyframes stop-pulsate {
    from {
      opacity:0.4;
    }
    to {
      transform: scale(2);
      opacity:0;
    }
  }
  
  .btn-pulse {
    position:absolute;
    /* top:35;
    left:39px; */
  }
  .circle {
    position:absolute;
    left:50%;
    top:50%;
    width:20px;
    height:20px;
    margin: -0.666em auto auto -0.666em;
    background:rgba(237,0,72,1);
    border-radius:50%;
    opacity:0.6;
    transform-origin: 50% 50%;
    transition:opacity .2s ease-in, transform .1s ease-out;
    color:white;
    font-size:1.5em;
    padding:0;
    text-align:center;
    line-height:32px;
    overflow:hidden;
  }
  .circle:hover {
    opacity:0.8;
    cursor:pointer;
  }
  .circle:active {
    transform:scale(0.875);
  }
  
  .ring {
    display:block;
    position:relative;
    top:40%;
    left:12%;
    width:1.5em;
    height:1.5em;
    margin:-1em auto auto -1em;
    transform-origin: 50% 50%;
    border-radius:50%;
    border:1px solid rgba(237,0,72,1);
    opacity:0;
    animation: pulsate 1s ease-out infinite;
  }
    
  .ring:hover .ring {
      animation: stop-pulsate 0.3s;
  }
    
  .ring:active .ring {
      animation: none;
  }
  
  .speech-bubble {
    position: absolute;
    width: 80px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    display: none;
    z-index: 2;
  }
  .speech-bubble  h1 {
      font-size: 20px;
      margin-top: 12px;
      color: #333333;
  }
  .speech-bubble  p {
      margin-top: 4px;
      margin-bottom: 12px;
      font-style: italic;
      color: #888888;
  }
  
  .speech-bubble:after{
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 10px;
      margin-left: -10px;
  }