.body {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.button {
    
    background-color: rgb(17, 195, 201);
    border-radius: 44px;
    border: none;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3em;
    margin-bottom: 2em;
    cursor: pointer;
  }

.button:active {
    box-shadow: none;
}
